#{extends 'main.html' /}
#{set title:'enableCirugia.html' /}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Inicio</a></li>
  <li class="breadcrumb-item"><a href="@{Planeacion.index()}">Generaciones de Programación</a></li>
  <li class="breadcrumb-item"><a href="@{Planeacion.programacionesPorPlaneacion(programacion.planeacion.idPlaneacion)}">Programaciones</a></li>
  <li class="breadcrumb-item"><a href="@{Planeacion.programacionDetails(programacion.idProgramacion)}">Programación - ${programacion.idProgramacion}</a></li>
  <li class="breadcrumb-item active">Habilitar Cirugía</li>
</ol>
<center><h1>Habilitar Cirugía</h1></center>
<center><p class="lead">Escoja la cirugía que desea habilitar</p></center>
<hr/>
<br/>

<form class="form-horizontal" action="@{Planeacion.habilitarCirugia()}" method="POST">
  <div class="form-group">
    <label for="cirugia" class="col-sm-2 control-label">Cirugia</label>
    <div class="col-sm-10">
      <select id="cirugia" name="cirugia" class="selectpicker form-control" data-live-search="true">
      	<option value="0">Seleccione cirugia</option>
      	#{list items:cirugias , as:'cirugia'}
   			<option value="${cirugia.idCirugia}">${cirugia.paciente.nombres} ${cirugia.paciente.apellidos}</option>
   		#{/list}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Habilitar</button>
      <a href='@{Planeacion.programacionDetails(programacion.idProgramacion+"")}'><button type="button" class="btn btn-default">Volver</button></a>
    </div>
  </div>

</form>