#{extends 'main.html' /}
#{set title:'programacionDetails.html' /}
<script>
	var cirugias = [];
</script>

#{list items:cirugias, as:'cirugia'}
	<script>
		var surgery = new Object();
		surgery.idCirugia = "${cirugia.idCirugia}";
		surgery.idQuirofano = "${cirugia.quirofano.idQuirofano}";
		surgery.nombreQuirofano = "${cirugia.quirofano.nombreQuirofano}";
		surgery.fechaIngreso = new Date("${cirugia.fechaIngreso}");
		surgery.horaCierre = new Date("${cirugia.horaCierre}");
		cirugias.push(surgery);
	</script>
#{/list}
<script>
	
	google.charts.load('current', {'packages':['timeline']});
	google.charts.setOnLoadCallback(drawChart);
	
	function daysToMilliseconds(days) {
	  return days * 24 * 60 * 60 * 1000;
	}
	
	function drawChart() {
	  var container = document.getElementById('example3.1');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();
      
	  dataTable.addColumn({ type: 'string', id: 'Position' });
	  dataTable.addColumn({ type: 'string', id: 'Name' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });
	 
	  var rows = [];
	  cirugias.forEach(function(item){
	  	rows.push([item.nombreQuirofano, item.idCirugia, item.fechaIngreso, item.horaCierre ]); 	
	  });
	
	  dataTable.addRows(rows);
			
      chart.draw(dataTable);
    }
</script>
<div id="example3.1" style="height: 1000px;"></div>
