#{extends 'main.html' /}
#{set title:'programacionDetails.html' /}
<script>
	var cirugias = [];
	var events = [];
</script>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Inicio</a></li>
  <li class="breadcrumb-item"><a href="@{Planeacion.index()}">Generaciones de Programación</a></li>
  <li class="breadcrumb-item"><a href="@{Planeacion.programacionesPorPlaneacion(programacion.planeacion.idPlaneacion)}">Programaciones</a></li>
  <li class="breadcrumb-item active">Programación - ${programacion.idProgramacion}</li>
</ol>
<center><h1>Detalles Programación</h1></center>
<center><p class="lead">Detalles de una programación en particular</p></center>
<hr/>
<br/>


#{if cirugias.size > 0}


<ul class="nav nav-tabs" id="tabscharts">
  <li class="active"><a data-toggle="tab" href="#gantt">Gantt</a></li>
  <li><a data-toggle="tab" href="#barras" onclick="initBarChart();">Barras</a></li>
  <li><a data-toggle="tab" href="#booking" id="bookingTab" onclick="initBooking();">Booking</a></li>
  <li><a data-toggle="tab" href="#tablas">Tablas</a></li>
  #{if programacion.principal == true }
	<li class="pull-right"><span class="glyphicon glyphicon-star" aria-hidden="true" style="color: green; font-size: 43px;"></span></li>
  #{/if}
  
</ul>
<br/>
<div class="container-fluid" style="text-align: right;">
	<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown">
    Opciones <span class="caret"></span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li class="list-group-item"><a href="@{Planeacion.compareProgramacion(programacion.idProgramacion)}">Comparar</a></li>
	  <li class="list-group-item"><a href="@{Planeacion.changeQuirofanoCirugia(programacion.idProgramacion)}">Editar Cirugia</a></li>
	  <li class="list-group-item"><a href="@{Planeacion.deleteCirugia(programacion.idProgramacion)}">Eliminar Cirugia</a></li>
	  <li class="list-group-item"><a href="@{Planeacion.enableCirugia(programacion.idProgramacion)}">Habilitar Cirugia</a></li>
	  #{if programacion.principal == false }
	  	<li class="list-group-item" id="establecer"><a onclick="establecerProgramacion();">Establecer Programación Principal</a></li>
	  #{/if}
	  <li class="list-group-item" ><a><span id="saveData">Guardar</span></a></li>
  </ul>
</div>
</div>
<br/>
<div class="tab-content">
  <div id="gantt" class="tab-pane fade in active">
  	<div class="container">
  		<form class="form-inline">
		  <div class="form-group">
		    <label for="quirofano1">Quirofano</label>
		    <select class="selectpicker form-control" data-live-search="true" id="quirofano1" onchange="updateGantt();">
		    	#{list items:quirofanos, as:'quirofano'}
		    		<option>${quirofano.nombreQuirofano}</option>
		    	#{/list}
			</select>
			<br/>
		  </div>
		  <br/>
		</form>
  	</div>
  	<br/>
  	<div id="ganttChart" ></div>
  </div>
  <div id="barras" class="tab-pane fade">
    <div id="barChart" ></div>
  </div>
  <div id="booking" class="tab-pane fade">
	  <div class="row">
	  	<div class="col-md-12">
	  		<form class="form-inline">
			  <div class="form-group">
			    <label for="quirofano">Quirofano</label>
			    <select class="selectpicker form-control" data-live-search="true" id="quirofano" onchange="updateBooking();">
			    	#{list items:quirofanos, as:'quirofano'}
			    		<option>${quirofano.nombreQuirofano}</option>
			    	#{/list}
				</select>
				<br/>
				<br/>
			  </div>
			  <br/>
			</form>
	  	</div>	
	  </div>
	  <div class="row">
	  	<div class="col-md-12">
	  		<div id="scheduler_here" class="dhx_cal_container" style="width:100%; height:600px; padding:10px;">
			    <div class="dhx_cal_navline">
			        <div class="dhx_cal_prev_button">&nbsp;</div>
			        <div class="dhx_cal_next_button">&nbsp;</div>
			        <div class="dhx_cal_today_button"></div>
			        <div class="dhx_cal_date"></div>
			        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
			        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
			        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
			    </div>
			    <div class="dhx_cal_header"></div>
			    <div class="dhx_cal_data"></div>       
			</div>
	  	</div>
	  	
	  </div>
  </div>
  <div id="tablas" class="tab-pane fade">
  	<table class="table">
	  <thead>
	    <tr>
	      <th>Quirofano</th>
	      <th>Paciente</th>
	      <th>Fecha Ingreso</th>
	      <th>Fecha Salida</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    #{list items:cirugias, as:'cirugia'}
	    	<tr>
		      <th>${cirugia.quirofano.nombreQuirofano}</th>
		      <td>${cirugia.paciente.nombres}</td>
		      <td>${cirugia.fechaIngreso}</td>
		      <td>${cirugia.horaCierre}</td>
		      <td><a href="@{Cirugia.cirugiaDetail(cirugia.idCirugia)}">Detalles</a></td>
		    </tr>

			<script>
				var surgery = new Object();
				surgery.idCirugia = "${cirugia.idCirugia}";
				surgery.idQuirofano = "${cirugia.quirofano.idQuirofano}";
				surgery.nombreQuirofano = "${cirugia.quirofano.nombreQuirofano}";
				surgery.nombrePaciente = "${cirugia.paciente.nombres}";
				surgery.fechaIngreso = new Date("${cirugia.fechaIngreso}");
				surgery.horaCierre = new Date("${cirugia.horaCierre}");
				surgery.start_date = "${cirugia.fechaIngreso}";
				surgery.end_date = "${cirugia.horaCierre}";
				cirugias.push(surgery);
			</script>
		#{/list}
	  </tbody>
	</table>
  </div>
</div>
<a href="@{Planeacion.programacionesPorPlaneacion(programacion.planeacion.idPlaneacion)}"><button type="button" class="btn btn-default">Volver</button></a>


<script>
	
	$(document).ready(function(){
		initGanttChart();
	});


	/** Gantt Chart */ 

	function initGanttChart(){
		google.charts.load('current', {'packages':['gantt']});
    	google.charts.setOnLoadCallback(drawGanttChart);
	}

    function daysToMilliseconds(days) {
      return days * 24 * 60 * 60 * 1000;
    }

    function drawGanttChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');


      var rows = [];
	  var quirofanoSelected = $("#quirofano1").val();
		cirugias.forEach(function(item){
			if(item.nombreQuirofano == quirofanoSelected){
				rows.push([item.idCirugia, item.nombrePaciente , item.fechaIngreso, item.horaCierre, null, 100, null]); 
			}	
		  });
	  data.addRows(rows);
      var chart = new google.visualization.Gantt(document.getElementById('ganttChart'));

      chart.draw(data);

	}

	function updateGantt(){
		var chart = new google.visualization.Gantt(document.getElementById('ganttChart'));
		var rows = [];
		var quirofanoSelected = $("#quirofano1").val();
    	cirugias.forEach(function(item){
    		if(item.nombreQuirofano == quirofanoSelected){
    			rows.push([item.idCirugia, item.nombrePaciente , item.fechaIngreso, item.horaCierre, null, 100, null]); 
    		}	
		  });

    	var data = new google.visualization.DataTable();
		data.addColumn('string', 'Task ID');
		data.addColumn('string', 'Task Name');
		data.addColumn('date', 'Start Date');
		data.addColumn('date', 'End Date');
		data.addColumn('number', 'Duration');
		data.addColumn('number', 'Percent Complete');
		data.addColumn('string', 'Dependencies');
		chart.clearChart();
		data.addRows(rows);
    	chart.draw(data);

	}


	/** Bar Chart */

	function initBarChart(){
		setTimeout(function (){
			google.charts.load('current', {'packages':['timeline']});
			google.charts.setOnLoadCallback(drawBarChart);
		},200);
		
	}

	
	function drawBarChart() {
	  var container = document.getElementById('barChart');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();
      
	  dataTable.addColumn({ type: 'string', id: 'Position' });
	  dataTable.addColumn({ type: 'string', id: 'Name' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });
	 
	  var rows = [];
	  cirugias.forEach(function(item){
	  	rows.push([item.nombreQuirofano, item.idCirugia + " - " + item.nombrePaciente , item.fechaIngreso, item.horaCierre ]); 	
	  });
	
	  dataTable.addRows(rows);
			
      chart.draw(dataTable);
    }

    /** Booking Chart */
	function initBooking() {
		setTimeout(function (){
			scheduler.config.multi_day = true;
			scheduler.config.collision_limit = 1; //allows creating 2 events per time slot
			scheduler.attachEvent("onEventLoading", function(ev){ 
			    return scheduler.checkCollision(ev);             
			});
			scheduler.config.xml_date="%Y-%m-%d %H:%i";
			scheduler.init('scheduler_here',new Date(),"week");
			updateBooking();
		},200);
		
		
	}
	
	function updateBooking(){
		var events = [];
		var quirofanoSelected = $("#quirofano").val();
    	cirugias.forEach(function(item){
    		if(item.nombreQuirofano == quirofanoSelected){
    			events.push({
    				id : item.idCirugia,
    				text : item.nombrePaciente,
					start_date: item.start_date ,
					end_date: item.end_date
			  	});
    		}	
		  });
    	var jsonevents = JSON.stringify(events);
    	scheduler.clearAll();
		scheduler.parse(jsonevents, "json");
	}

	function serializeScheduler(){
		var json = scheduler.toJSON();
		$.post( "@{Planeacion.modificarCirugia}", { json: json, programacion : ${programacion.idProgramacion} }, function(data){
			window.location.replace('@{Planeacion.programacionDetails(programacion.idProgramacion)}');
		} );
	}

	$("#saveData").click(serializeScheduler);

	function establecerProgramacion(){
		$.ajax({
			url : '@{Planeacion.establecerProgramacionPrincipal}',
			type : "POST",
			data : {
				idProgramacion : "${programacion.idProgramacion}"
			},
			success : function(data){
				var successMessage = $("#successMessage");
				successMessage.empty();
				successMessage.append(data);
				$("#successAlert").css("display", "block");
				$("#tabscharts").append('<li class="pull-right"><span class="glyphicon glyphicon-star" aria-hidden="true" style="color: green; font-size: 43px;"></span></li>');
				$("#establecer").css("display", "none");
			}
		}).fail(function() {
			var errorMessage = $("#successError");
			errorMessage.empty();
			errorMessage.append(data);
			$("#errorAlert").css("display", "block");
		});
	}


	function show_minical(){
		if (scheduler.isCalendarVisible())
			scheduler.destroyCalendar();
		else
			scheduler.renderCalendar({
				position:"dhx_minical_icon",
				date:scheduler._date,
				navigation:true,
				handler:function(date,calendar){
					scheduler.setCurrentView(date);
					scheduler.destroyCalendar()
				}
			});
	}

    /* */

    /* Table Chart */

</script>
#{/if}
#{else}

<br/><br/>
<h3>No hay Cirugias asociadas a esta programación<h3/>
<br/><br/>
<a href="@{Planeacion.programacionesPorPlaneacion(programacion.planeacion.idPlaneacion)}"><button type="button" class="btn btn-default">Volver</button></a>
<br/><br/>
#{/else}

