#{extends 'main.html' /}
#{set title:'matchCirugias.html' /}

<form action="@{Programacion.saveMatchSurgeries()}" method="GET">
	<center>
		<table>
			<tr>
	    		<td><b>Cirugias</b></td>
	    		<td><b>Cirujanos</b></td>
	    	</tr>
	    	#{list items:solicitudes, as:'solicitud'}
		    	<tr>
		    		<td>${solicitud.paciente.nombres} ${solicitud.paciente.apellidos}</td>
		    		<td>
		    			<select id="${solicitud.idSolicitud}" name="${solicitud.idSolicitud}" class="form-control">
		    				<option value="0">Seleccione Cirujano</option>
		    				#{list items:cirujanos, as:'cirujano'}
		    					#{if cirujano.hasEspecialidad(solicitud)}
		    						<option value="${cirujano.idProfesionalSalud}">${cirujano.nombres} ${cirujano.apellidos}</option>
		    					#{/if}	
		    				#{/list}
						</select>
		    		</td>
		    	</tr>
		    #{/list}
	    	
		</table>
		<input type="submit" value="Guardar" />
	</center>
</form>